<div id="page">
<div class="box-header">
   About
</div>
<div class="box-body">

<p>
   Team Pursue was founded in 25 June in 2012, before that we were a bunch of guys playing together in a community/clan. It all started when the guy keeping it all together (Hobbsy) left the clan. Wanting a fresh new start with friends that he had met on the net, he gathered us together and talked about his idea to start a clan. All of us agreed that this would be great,  not feeling as "oppressed" as we did in our last clan.
</p>

<p>
   So we did.
</p>

<p>
   This clan is loaded with friendly gamers abroad Europe and North America. We like to try different games with each other, helping each other improve on both an individual and team level.
</p>

<p>
   Our home turf is on Battlefield 3, which is where most of the members' expertise lies. Many victories have been won in the Eurodomination League, and we are trying to further advance in the competition.
</p>

</div>
