#roster-list {
   @include column(12);

   list-style: none;

   li {
      @include column(12, collapse);
      border-top: 2px dotted $secondaryColor;
      padding-top: 10px;
      margin-top: 20px;

      &:first-child {
         border-top: none;
         padding-top: 0;
         margin-top: 0;
      }
   }

   div {
      @include column(12, collapse);

      .group1-key {
         background-color: #293f0c;
      }

      .group2-key {
         background-color: #ff8300;
      }

      .group1-key, .group2-key {
         @include column(2, collapse);
         color: #fff;
         text-align: center;
      }

      .value {
         @include column(10);
         text-align: left;
         background-color: #bec5b6;
      }

      .group1-key, .group2-key, .value {
         padding: 10px;
         margin-bottom: 1px;
      }

      .spacer {
         margin: 20px;
      }

   }
}
